<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{docTitle}
    link(rel="stylesheet" href="/css/main.css")
    block styles
  body
    header.top-bar.margin-bottom-2
      nav
        ul.menu
          li
            a(href="/", class=(path==="/" ? "active" : '')) Shopp
          li
            a(href="/products", class=(path==="/shop/products" ? "active" : '')) Products
          li
            a(href="/cart", class=(path==="/cart" ? "active" : '')) Cart
          li  
            a(href="/admin/add-product", class=(path==="/admin/add-product" ? "active" : '')) Add product
          li  
            a(href="/admin/products", class=(path==="/admin/products" ? "active" : '')) Admin products

    main.grid-container
      .grid-x.grid-padding-x
        block content
