<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="/css/main.css")
  body
    header.top-bar
            nav
              ul.menu
                li
                  a.active(href="/") Shop
                li
                  a(href="/admin/add-product") Add product
    
    div.grid-container
      div.grid-x.grid-padding-x
        main.cell.small-12
          h1 Products page
          p List of products
